

<div class="tabsLink">
  <a href="#tab1">School</a>
  <a href="#tab2">College</a>
  <a href="#tab3"> Complete sign-up </a>
</div>
        
<br>
<a class="tabs" id="tab1"></a>
<div class="tab">
Step 1. Select your high school <a align="center" href="#tab2">Skip step</a>
<hr>
<br><br><br><br>
Let's try to find some of your friends who are already on VK.
Start by selecting your school.
<br><br>
School country<br> <%= select_tag(:pol, options_for_select(country,:selected=>'UA'), {onchange: 'changeRegion()'})%>
 <%= select_tag(:telephone, options_for_select(states('UA')))%>
<br>
</div>

<a class="tabs" id="tab2"></a>
<div class="tab">
Вкладка 2 
<br>
</div>


<a class="tabs" id="tab3"></a>
<div class="tab">
Вкладка 3 
<br>
</div>

<script>
function changeRegion(){
	var t = document.getElementById("telephone");
	while (t.options.length > 0) {
		t.remove(0);
	}
	for (var i=0; i<10; i++){
	var option=document.createElement("option");
	option.text="<%= @reg[i][0] %>";
	try
  {
  	t.add(option,t.options[null]);
  }
	catch (e)
  {
  	t.add(option,null);
  }
}

}
</script>