/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-formhelpers
 */

body{
	width: 791px;
	height: 100%;
	margin: 0px auto;
	font-family: tahoma, arial, verdana, sans-serif, Lucida Sans;
	font-size: 11px;
	font-weight: normal;
	position: relative;
}

header{
	height: 40px;
	background: #4E729A url('/hat.gif') 0px -21px no-repeat;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	padding-right: 5px;
}

nav.left{
	max-width: 140px;
}

input{
	max-width: 120px;
	border-radius: 0;
	height: 20px;
	margin-bottom: 5px;
	border: 1px solid #3366CC;
	color: #3366CC;
}

ul.menu{
	list-style-type: none;
	width: 140px;
	margin-left: -30px;
}

ul.menu li{
	padding-top: 10px;
}

a {
	text-decoration: none;
}

ul.menu li:hover {
	background-color: silver;
}

ul.top_links{
	float: right;
	display: inline;
	font-size: 15px;
	list-style-type: none;
}

section{
	width: 651px; 
	position: absolute;
	left: 140px;
	top: 40px;
	border: 1px solid silver;
}

#header {
  color: #607387;
  font-size: 11px;
  font-weight: bold;
  line-height: 140%;
  background-color: silver;
}

#header h1 {
  font-size: 11px;
  margin: 0;
  overflow: hidden;
  padding-left: 10px;
}

.body{
	padding-left: 30px;
	padding-right: 30px;
}

.tabs {
    opacity: 0;  /* Прозрачность */
    visibility: hidden; /* Изначально - спрятан */
}
.tab{
    position:absolute; /* Абсолютное позиционирование */
    visibility: hidden;    /* Изначально - спрятан */
    z-index: 10;    /* z-index */
    color:#478CFB; /* Цвет */
    font: bold 12pt "Trebuchet MS", tahoma, verdana, arial narrow, arial; /* Толщина, размер и семейство шрифта */
}
.tabs:target+.tab {
    opacity: 1; /* Убирает прозрачность */
    visibility: visible; /* Делает видимым */
}
.tabsLink a{
    background-color:#478CFB; /* Цвет */
    padding:5px; /* Внутренние отступы */
    font: bold 12pt "Trebuchet MS", tahoma, verdana, arial narrow, arial; /* Толщина, размер и семейство шрифта */
    color:#fff; /* Цвет */
    text-decoration:none; /* Отсутствие нижней линии */
    
    /* Округление старт */
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-topright: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* Округление конец */
}

#main{
	padding-left: 15px;
	padding-right: 15px;
}